/* ---- Specification ---- */

@font-face {
	font-family: 'Gill sans';
	src: url('../fonts/GillSansMT.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/GillSansMT.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face {
	font-family: 'Gill sans';
	src: url('../fonts/GillSansMT-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/GillSansMT-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

a {
	text-decoration: none;
	display: block;
	color: #000;
}

a:hover {
	text-decoration: none;
  }

img {
	object-fit: cover;
}

.btn {
	width: 132px;
	border-radius: 100px;
	padding: 9px 24px;
	color: #fff;
	transition: background 0.5s ease;
	background-color: #267df4;
	text-align: end;
	position: relative;
}

.btn:hover {
	transition: background 0.5s ease;
	background-color: #2364be;
	color: #fff;
}

.btn-2 {
	line-height: 1.4em; 
	font-family: 'Lato', sans-serif;
	width: 204px;
	border-radius: 100px;
	padding: 13px 46px;
	color: #000;
	transition: background 0.5s ease;
	border: 1px solid #000;
	text-align: end;
}

.btn-2:hover {
	transition: background 0.5s ease;
	background-color: #2364be;
	color: #fff;
	border-color: #2364be;
}

.text-color {
	color: #8c8f94;
	font-size: 20px;
	line-height: 1.4em;
}

.text-color_fz-mr {
	font-size: 18px;
	margin-top: 35px;
}

.text-color_mr {
	margin-top: 28px;
	font-size: 18px;
}

.section-title {
	margin-top: 32px;
	font-size: 26px;
	font-weight: bold;
	color: #26272d;
}

.section-title_big {
	font-size: 42px;
	line-height: 1.2em;
}

.nav-link {
	transition: color 0.5s ease;
}

.nav-link:hover {
	color: #9ea0a5;
	transition: color 0.5s ease;
}

/* header */

.header	{
	background: url('../img/background.png') no-repeat center top / cover;
	padding-top: 43px;
}

.header-logo {
	background: url('../img/logo.png') no-repeat;
	width: 133px;
	height: 15px;
	margin: 0 auto;
}

.header-nav__gamburger {
	margin-right: 30px;
}

.header-nav__link {
	font-size: 16px;
	color: #000;
}

.header-app__nav {
	margin-right: 31px;
}

.header-app__btn::before {
	display: block;
	content:'';
	background-image: url('../img/Apple_Icon.png');
	width: 17px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 13%;
}

.header-title {
	margin-top: 92px;
	font-size: 62px;
	text-align: center;
}

.header-subtitle {
	margin-top: 26px;
	text-align: center;
	max-width: 790px;
	line-height: 1.4em;
}

.header-btn {
	margin-top: 60px;
	background: url('../img/Play_Icon.png') no-repeat 22%;
}

.header-iphone {
	max-width: 373px;
	margin-top: 53px;
}

.header-iphone__img {
	background: url('../img/iPhone_6.png') top center / cover;	
	width: 100%;
	height: 456px;
}

/* Features */

.Features {
	padding-top: 124px;
}

/* Your-day  */

.section-your-day {
	padding-top: 102px;
}

/* overflow: hidden; */

.iphone {
	margin-top: 3px;
	margin-left: -106px;
	transition: all 0.5s ease;
}

.iphone__img {
	background: url('../img/iPhone-features-6.png') no-repeat center / contain;
	max-width: 741px;
	height: 658px;
	width: 100%;
}

.iphone:hover {
	transform: scale(1.1) ;
	-webkit-transform: scale(1.1) ;
	-moz-transform: scale(1.1) ;
	transition: all 0.5s ease;
}

.your-day__title {
	margin-top: 74px;
}

.your-day__carryover {
	display: block;
}

.your-day__lead {
	margin-top: 69px;
}

.your-day__text {
	margin-top: 28px;
}

.your-day__control {
	display: flex;
	margin-top: 46px;
}

.your-day__btn {
	border-radius: 50px;
	color: #fff;
	margin-right: 20px;
	padding: 8px 27px;
	background: #267df4 url('../img/Arrow_Icon.png') no-repeat 90%;
	transition: background 0.5s ease;
	width: 203px;
}

.your-day__btn:hover {
	display: inline;
	background-color: #204f91;
	transition: background 0.5s ease;
	color: #fff;
}

.your-day__button {
	border: 1px solid #000;
	border-radius: 50px;
	text-align: center;
	padding: 8px 10px;
	width: 141px;
	transition: border 0.3s ease;
}

.your-day__button:hover {
	transition: background 0.3s ease;
	background: #2260b4;
	color: #fff;
}

.we-everywhere {
	padding-top: 61px;
	padding-bottom: 90px;
}

.subject__title {
	max-width: 305px;
}

.subject__lead {
	margin-top: 61px;
}

.subject__text {
	margin-top: 28px;
}

.partners {
	margin-top: 62px;
}

.partners__title {
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
}

.partners__item {
	display: flex;
}

.partners__list {
	margin-top: 27px;
	margin-right: 29px;
}

.partners__link-1 {
	background: url('../img/Dropbox_Logo.png') no-repeat;
	width: 128px;
	height: 42px;
}

.partners__link-2 {
	background: url('../img/Evernote_Logo.png') no-repeat;
	width: 140px;
	height: 42px;
}

.picture {
	margin-top: 35px;
	margin-left: 38px;
	max-width: 642px;
	width: 100%;
	
	transition: all 0.5s ease;
}

.picture:hover {
	transform: scale(1.1) ;
	-webkit-transform: scale(1.1) ;
	-moz-transform: scale(1.1) ;
	transition: all 0.5s ease;
}

/* footer */

.footer {
	padding-top: 146px;
	padding-bottom: 120px;
}

.full-viewapp {
	margin-top: 3px;
	background: url('../img/logo.png') no-repeat;
}

.full-viewapp__logo {
	width: 135px;
	height: 15px;
}



.full-viewapp__text {
	margin-top: 26px;
	font-size: 14px;
	line-height: 1.7em;
}

.full-viewapp__btn {
	background: url('../img/Download.png') no-repeat;
	margin-top: 26px;
	width: 140px;
	height: 41px;
	border-radius: 8px;
	transition: box-shadow 0.3s ease;
}

.full-viewapp__btn:hover {
	transition: box-shadow 0.3s ease;
	box-shadow: 0px 0px 18px 3px rgba(16,15,15,0.53);
-webkit-box-shadow: 0px 0px 18px 3px rgba(16,15,15,0.53);
-moz-box-shadow: 0px 0px 18px 3px rgba(16,15,15,0.53);
}

.learn-more__item {
	margin-top: 16px;
}

.learn-more__title {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
}

.learn-more__list {
	margin-top: 17px;	
}

.learn-more__link {
	color: #8c8f94;
	line-height: 1.2em;
	transition: font-weight 0.1s ease;
}

.learn-more__link:hover {
	color: #5a5d61;
	font-weight: bold;
	transition: font-weight 0.2s ease;
}

/* Responsive */

@media (max-width: 1200px ) {

	.picture {
		margin-left: 0;
		margin-top: 60px;
	}

	.iphone {
		margin-left: 0;
		margin-top: -50px;
	}

	.your-day__title {
		margin-top: -50px;
	}

	
}

@media (max-width: 992px ) {
	
	.adopt-without {
    	margin-top: 50px;
	}

	.your-day__control {
		justify-content: space-around;
	}

	.header-subtitle {
		color: #000;
	}

	.subject {
		margin-top: 80px;
	}

	.picture-center {
		margin: 0 auto;
	}

	.section-title {
		text-align: center;
	}

	.section-title_big {
		text-align: center;
	}

	.subject__title {
		max-width: 100%;
	} 

	.partners {
		display: flex;
		justify-content: space-between;
	}

	.partners__title {
		display: flex;
		align-items: center;
	}

}

@media (max-width: 768px ) {
	.header-logo {
		text-align: end;
	}

	.header-title {
		font-size: 42px;
	}
	
	.header-logo {
		display: flex;
		justify-content: flex-end;
	}

	.learn-more__list {
		margin-top: 45px;
	}

	.learn-more_margin {
		margin-top: 80px;
	}

	.footer {
		padding-top: 90px;
		padding-bottom: 120px;
	}

	.full-viewapp__btn {
		margin-top: 90px;
	}
}

@media (max-width: 576px ) {
	.header-title {
		font-size: 32px;
	}

	.partners {
		display:block;
	}
	
	.partners__title {
		justify-content: center;
	}

	.partners__item {
		justify-content: center;
		flex-wrap: wrap;
	}

	.header-iphone__img {
		height: 376px;
	}

	.iphone {
		margin-top: -50px;
	}

	.iphone__img {
		height: 300px;
	}

	.section-title_big {
		margin-top: 50px;
		font-size: 32px;
		line-height: 1.2em;
	}

	.your-day__control {
		display: block;
	}

	.your-day__btn {
		margin-right: 0;
		margin: 0 auto;
	}

	.your-day__button {
		margin: 50px auto 0;
	}

	.learn-more {
		margin-top: 50px;
	}
}